rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isUnityUser() {
      return request.auth != null
        && request.auth.token.email != null
        && request.auth.token.email.matches('.*@unity3d[.]com$');
    }

    match /genres/{genreId} {
      allow read: if isUnityUser();
      allow write: if isUnityUser();
    }

    match /snapshots/{snapshotId} {
      allow read: if isUnityUser();
      allow write: if false;

      match /apps/{appId} {
        allow read: if isUnityUser();
        allow write: if false;
      }
    }

    match /fetchLogs/{logId} {
      allow read: if isUnityUser();
      allow write: if false;
    }

    match /appComments/{commentId} {
      allow read: if isUnityUser();
      allow write: if isUnityUser();
    }

    match /appNames/{appId} {
      allow read: if isUnityUser();
      allow write: if false;
    }
  }
}
